.maintenance .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.maintenance-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background);
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
}

.maintenance-text {
    font-size: 1.3rem;
}

.store {
    text-decoration: underline;
}